[submodule "ext/flecs"]
	path = ext/flecs
	url = https://github.com/SanderMertens/flecs.git

[submodule "ext/sdl"]
	path = ext/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "ext/sdl_image"]
	path = ext/sdl_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "ext/sdl_mixer"]
	path = ext/sdl_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
